<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    table, th, td {
      border: 1px solid lightblue;
      border-collapse: collapse;
    }
    table {
        width: 70vw;
        height: 70vh;
        border: 2px solid rgba(255, 202, 10, 0.873);
    }
    td {
        text-align: left;
        vertical-align: top;
    }
    .width {
        column-width: 100px;
    }
</style>
    
</head>
<body>

<h1 style="text-align: center">November</h1>

<table style="text-align: center">
    
    <tr>
    <div class="width">
        <th>Sunday   </th>
        <th>Monday   </th>
        <th>Tuesday  </th>
        <th>Wednesday</th>
        <th>Thursday </th>
        <th>Friday   </th>
        <th>Saturday </th>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="1">
            <span></span>
            <span id="day1-title"></span>
          </td>
          <td id="2">
            <span></span>
            <span id="day2-title"></span>
          </td>
          <td id="3">
            <span>1</span>
            <span id="day3-title"></span>
          </td>
          <td id="4">
            <span>2</span>
            <span id="day4-title"></span>
          </td>
          <td id="5">
            <span>3</span>
            <span id="day5-title"></span>
          </td>
          <td id="6">
            <span>4</span>
            <span id="day6-title"></span>
          </td>
          <td id="7">
            <span>5</span>
            <span id="day7-title"></span>
          </td>
                    
    </div>
    </tr>
    
    <tr>
        <td id="8">
            <span>6</span>
            <span id="day8-title"></span>
          </td>
          <td id="9">
            <span>7</span>
            <span id="day9-title"></span>
          </td>
          <td id="10">
            <span>8</span>
            <span id="day10-title"></span>
          </td>
          <td id="11">
            <span>9</span>
            <span id="day11-title"></span>
          </td>
          <td id="12">
            <span>10</span>
            <span id="day12-title"></span>
          </td>
          <td id="13">
            <span>11</span>
            <span id="day13-title"></span>
          </td>
          <td id="14">
            <span>12</span>
            <span id="day14-title"></span>
          </td>
                    
    </tr>
    
    <tr>
        <td id="15">
            <span>13</span>
            <span id="day15-title"></span>
          </td>
          <td id="16">
            <span>14</span>
            <span id="day16-title"></span>
          </td>
          <td id="17">
            <span>15</span>
            <span id="day17-title"></span>
          </td>
          <td id="18">
            <span>16</span>
            <span id="day18-title"></span>
          </td>
          <td id="19">
            <span>17</span>
            <span id="day19-title"></span>
          </td>
          <td id="20">
            <span>18</span>
            <span id="day20-title"></span>
          </td>
          <td id="21">
            <span>19</span>
            <span id="day21-title"></span>
          </td>
                    
    </tr>
    
    <tr>
        <td id="22">
            <span>20</span>
            <span id="day22-title"></span>
          </td>
          <td id="23">
            <span>21</span>
            <span id="day23-title"></span>
          </td>
          <td id="24">
            <span>22</span>
            <span id="day24-title"></span>
          </td>
          <td id="25">
            <span>23</span>
            <span id="day25-title"></span>
          </td>
          <td id="26">
            <span>24</span>
            <span id="day26-title"></span>
          </td>
          <td id="27">
            <span>25</span>
            <span id="day27-title"></span>
          </td>
          <td id="28">
            <span>26</span>
            <span id="day28-title"></span>
          </td>
    </tr>
    
    <tr>
        <td id="29">
            <span>27</span>
            <span id="day29-title"></span>
          </td>
          <td id="30">
            <span>28</span>
            <span id="day30-title"></span>
          </td>
          <td id="31">
            <span>29</span>
            <span id="day31-title"></span>
          </td>
          <td id="32">
            <span>30</span>
            <span id="day32-title"></span>
          </td>
          <td id="33">
            <span>31</span>
            <span id="day33-title"></span>
          </td>
          <td id="34">
            <span></span>
            <span id="day34-title"></span>
          </td>
          <td id="35">
            <span></span>
            <span id="day35-title"></span>
          </td>
    </tr>
    
</table>

<h1>Add Your Event Here!</h1>

<form id="form" method = "POST" action = "https://agenda.nighthawkcodescrums.gq/calendar-api/events/add" >
    <h3>Month</h3>
    <input type="text" name="month" required>

    <h3>Day</h3>
    <input type="text" name="day" required>

    <h3>Name of Event</h3>
    <input type="text" name="title" required>

    <input type ="submit" value="Add An Event">
    
</form>

<script>

// prepare fetch urls
const url = "https://agenda.nighthawkcodescrums.gq/calendar-api/events";

const options = {
  method: 'GET', // *GET, POST, PUT, DELETE, etc.
  mode: 'cors', // no-cors, *cors, same-origin
  cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
  credentials: 'omit', // include, *same-origin, omit
  headers: {
    'Content-Type': 'application/json'
    // 'Content-Type': 'application/x-www-form-urlencoded',
  },
};

// prepare fetch PUT options, clones with JS Spread Operator (...)
const put_options = {...options, method: 'PUT'}; // clones and replaces method

// fetch the API
fetch(url, options)
  // response is a RESTful "promise" on any successful fetch
  .then(response => {
    // check for response errors
    if (response.status !== 200) {
        error('GET API response failure: ' + response.status);
        return;
    }
    // valid response will have JSON data
    response.json().then(data => {
        for(const event of data){
            document.getElementById(event.day+2).innerHTML = event.title
        }
    })
})

// catch fetch errors (ie Nginx ACCESS to server blocked)
.catch(err => {
  error(err + " " + url);
});

</script>

</body>
</html>