<html>
<title>Online HTML Editor</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    table, th, td {
      border: 1px solid lightblue;
      border-collapse: collapse;
    }
    table {
        width: 70vw;
        height: 70vh;
        border: 2px solid rgba(255, 202, 10, 0.873);
    }
    td {
        text-align: left;
        vertical-align: top;
    }
    .width {
        column-width: 100px;
    }
</style>
    
</head>
<body>

<h1 style="text-align: center">November</h1>

<table style="text-align: center">
    
    <tr>
    <div class="width">
        <th>Sunday   </th>
        <th>Monday   </th>
        <th>Tuesday  </th>
        <th>Wednesday</th>
        <th>Thursday </th>
        <th>Friday   </th>
        <th>Saturday </th>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="1"></td>
        <td id="2"></td>
        <td id="3">1</td>
        <td id="4">2</td>
        <td id="5">3</td>
        <td id="6">4</td>
        <td id="7">5</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="1">6</td>
        <td id="1">7</td>
        <td id="1">8</td>
        <td id="1">9</td>
        <td id="1">10</td>
        <td id="1">11</td>
        <td id="1">12</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="1">20</td>
        <td id="1">21</td>
        <td id="1">22</td>
        <td id="1">23</td>
        <td id="1">24</td>
        <td id="1">25</td>
        <td id="1">26</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="1">27</td>
        <td id="1">28</td>
        <td id="1">29</td>
        <td id="1">30</td>
        <td id="1"></td>
        <td id="1"></td>
        <td id="1"></td>
    </div>
    </tr>
    
</table>

<script>
    
</script>

</body>
</html>