<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    table, th, td {
      border: 1px solid lightblue;
      border-collapse: collapse;
    }
    table {
        width: 70vw;
        height: 70vh;
        border: 2px solid rgba(255, 202, 10, 0.873);
    }
    td {
        text-align: left;
        vertical-align: top;
    }
    .width {
        column-width: 100px;
    }
</style>
    
</head>
<body>

<h1 style="text-align: center">November</h1>

<table style="text-align: center">
    
    <tr>
    <div class="width">
        <th>Sunday   </th>
        <th>Monday   </th>
        <th>Tuesday  </th>
        <th>Wednesday</th>
        <th>Thursday </th>
        <th>Friday   </th>
        <th>Saturday </th>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="1"></td>
        <td id="2"></td>
        <td id="3">1</td>
        <td id="4">2</td>
        <td id="5">3</td> 
        <td id="6">4</td>
        <td id="7">5</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="8">6</td>
        <td id="9">7</td>
        <td id="10">8</td>
        <td id="11">9</td>
        <td id="12">10</td>
        <td id="13">11</td>
        <td id="14">12</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="15">13</td>
        <td id="16">14</td>
        <td id="17">15</td>
        <td id="18">16</td>
        <td id="19">17</td>
        <td id="20">18</td>
        <td id="21">19</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="22">20</td>
        <td id="23">21</td>
        <td id="24">22</td>
        <td id="25">23</td>
        <td id="26">24</td>
        <td id="27">25</td>
        <td id="28">26</td>
    </div>
    </tr>
    
    <tr>
    <div class="width">
        <td id="29">27</td>
        <td id="30">28</td>
        <td id="31">29</td>
        <td id="32">30</td>
        <td id="33"></td>
        <td id="34"></td>
        <td id="35"></td>
    </div>
    </tr>
    
</table>

<script>

// prepare fetch urls
const url = "https://agenda.nighthawkcodescrums.gq/calendar-api/events";

const options = {
  method: 'GET', // *GET, POST, PUT, DELETE, etc.
  mode: 'cors', // no-cors, *cors, same-origin
  cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
  credentials: 'omit', // include, *same-origin, omit
  headers: {
    'Content-Type': 'application/json'
    // 'Content-Type': 'application/x-www-form-urlencoded',
  },
};

// prepare fetch PUT options, clones with JS Spread Operator (...)
const put_options = {...options, method: 'PUT'}; // clones and replaces method

// fetch the API
fetch(url, options)
  // response is a RESTful "promise" on any successful fetch
  .then(response => {
    // check for response errors
    if (response.status !== 200) {
        error('GET API response failure: ' + response.status);
        return;
    }
    // valid response will have JSON data
    response.json().then(data => {
        for(const event of data){
            document.getElementById(event.day+2).innerHTML = event.title
        }
    })
})

// catch fetch errors (ie Nginx ACCESS to server blocked)
.catch(err => {
  error(err + " " + url);
});

</script>

</body>
</html>